
.login-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.width245{
  width: 245px;
}
.width68{
  width: 68px;
  display: inline-block;
}

.content{
  height: 100%
}
@media screen and (max-width: 480px) {
  .login-content {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    z-index: 50; }
  .login-box {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    padding: 20px 10px; }
  .hide {
    display: none; }
  .login-header {
    padding: 50px 20px 20px;
    text-align: center; }
  .login-wapper {
    height: 150%; } }

.login-wapper {
  background: url('/static/images/bg-login.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  margin-bottom: -60px; }

.login-header {
  padding: 5% 20px 20px;
  text-align: center; }

.login-footer {
  background-image: linear-gradient(to right, #74438c, #fc84a1);
  line-height: 60px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  bottom: 0px;
  position: fixed;
  width: 100%; }
.login-footer .login-copyright {
  padding-right: 15px; }
.login-footer .login-tel {
  padding: 0 15px;
  border-left: 1px solid #fff; }

.login-box {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 20px 40px 40px; }

html,
body {
  height: 100%; }

.login-content {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  z-index: 50; }
.login-content-title{
  margin-bottom: 30px;
}
.login-content-title h3 {
  margin-top: 30px;
  color: #5e6970;
  text-align: center;
  font-size: 28px;
  font-weight: 400; }

.login-form {
  margin-bottom: 30px; }

.no-border {
  border: 0; }

input.login-input:focus {
  outline: none; }

.error-active .login-bottom-line {
  height: 1px;
  background-color: #fa5a5a; }

.form-group-item {
  position: relative; }
.form-group-item input {
  padding-bottom: 12px;
  color: #000
}
.form-group-item input:focus + .login-bottom-line {
  height: 1px;
  background-color: #35baff; }
.form-group-item:before, .form-group-item:after {
  content: " ";
  display: table; }
.form-group-item:after {
  clear: both; }

.login-bottom-line {
  height: 1px;
  background-color: #e0e4ed; }

.login-label {
  position: relative;
  color: #666; }

.pr35 {
  padding-right: 35px; }

.login-button-container {
  text-align: center;
  margin-top: 60px; }
.login-button-container:before, .login-button-container:after {
  content: " ";
  display: table; }
.login-button-container:after {
  clear: both; }

.login-link {
  margin-top: 10px; }
.login-link a {
  color: #999;
  font-size: 14px; }
.login-link a:hover {
  color: #35baff; }

.error-info-container:before, .error-info-container:after {
  content: " ";
  display: table; }

.error-info-container:after {
  clear: both; }

.login-img {
  height: 35px;
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer; }
.error-close-icon {
  background-position: 0px -677px;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-bottom: 10px; }

.rsjf-input-error-info {
  border-color: #d9534f;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px; }
.rsjf-input-error-info span {
  padding-left: 5px;
  color: #fa5a5a; }

.error-color {
  color: #fa5a5a; }

.error-close-icon {
  background-position: 0px -677px;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-bottom: 10px; }
.text-right {
  text-align: right !important; }
.rsjf-input-error-info {
  border-color: #d9534f;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px; }
.rsjf-input-error-info span {
  padding-left: 5px;
  color: #fa5a5a; }

.error-color {
  color: #fa5a5a; }

.error-close-icon {
  background-position: 0px -677px;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-bottom: 10px; }

.ant-spin-nested-loading > div > .ant-spin{
  max-height: inherit;
}


.rsjf-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none; }
.rsjf-btn, .rsjf-btn:active, .rsjf-btn.active {
  outline: none; }
.rsjf-btn:focus, .rsjf-btn.focus, .rsjf-btn:active:focus, .rsjf-btn:active.focus, .rsjf-btn.active:focus, .rsjf-btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none; }
.rsjf-btn:hover, .rsjf-btn:focus, .rsjf-btn.focus {
  color: #333;
  text-decoration: none; }
.rsjf-btn:active, .rsjf-btn.active {
  outline: none;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.rsjf-btn.disabled, .rsjf-btn[disabled],
fieldset[disabled] .rsjf-btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none; }

a.rsjf-btn.disabled,
fieldset[disabled] a.rsjf-btn {
  pointer-events: none; }

.rsjf-btn-cancel {
  color: #35baff;
  background-color: #fff;
  border-color: #35baff; }
.rsjf-btn-cancel:focus, .rsjf-btn-cancel.focus {
  color: #fff;
  background-color: #02a9ff;
  border-color: #0077b5;
  cursor: pointer; }
.rsjf-btn-cancel:hover {
  color: #fff;
  background-color: #02a9ff;
  border-color: #00a2f7;
  cursor: pointer; }
.rsjf-btn-cancel:active, .rsjf-btn-cancel.active,
.open > .rsjf-btn-cancel.dropdown-toggle {
  color: #fff;
  background-color: #02a9ff;
  border-color: #00a2f7; }
.rsjf-btn-cancel:active:hover, .rsjf-btn-cancel:active:focus, .rsjf-btn-cancel:active.focus, .rsjf-btn-cancel.active:hover, .rsjf-btn-cancel.active:focus, .rsjf-btn-cancel.active.focus,
.open > .rsjf-btn-cancel.dropdown-toggle:hover,
.open > .rsjf-btn-cancel.dropdown-toggle:focus,
.open > .rsjf-btn-cancel.dropdown-toggle.focus {
  color: #fff;
  background-color: #0092dd;
  border-color: #0077b5;
  cursor: pointer; }
.rsjf-btn-cancel:active, .rsjf-btn-cancel.active,
.open > .rsjf-btn-cancel.dropdown-toggle {
  background-image: none; }
.rsjf-btn-cancel.disabled:hover, .rsjf-btn-cancel.disabled:focus, .rsjf-btn-cancel.disabled.focus, .rsjf-btn-cancel[disabled]:hover, .rsjf-btn-cancel[disabled]:focus, .rsjf-btn-cancel[disabled].focus,
fieldset[disabled] .rsjf-btn-cancel:hover,
fieldset[disabled] .rsjf-btn-cancel:focus,
fieldset[disabled] .rsjf-btn-cancel.focus {
  background-color: #fff;
  border-color: #35baff; }
.rsjf-btn-cancel .badge {
  color: #fff;
  background-color: #35baff; }

.rsjf-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
.rsjf-btn-default:focus, .rsjf-btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c; }
.rsjf-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  cursor: pointer; }
.rsjf-btn-default:active, .rsjf-btn-default.active,
.open > .rsjf-btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }
.rsjf-btn-default:active:hover, .rsjf-btn-default:active:focus, .rsjf-btn-default:active.focus, .rsjf-btn-default.active:hover, .rsjf-btn-default.active:focus, .rsjf-btn-default.active.focus,
.open > .rsjf-btn-default.dropdown-toggle:hover,
.open > .rsjf-btn-default.dropdown-toggle:focus,
.open > .rsjf-btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  cursor: pointer; }
.rsjf-btn-default:active, .rsjf-btn-default.active,
.open > .rsjf-btn-default.dropdown-toggle {
  background-image: none; }
.rsjf-btn-default.disabled:hover, .rsjf-btn-default.disabled:focus, .rsjf-btn-default.disabled.focus, .rsjf-btn-default[disabled]:hover, .rsjf-btn-default[disabled]:focus, .rsjf-btn-default[disabled].focus,
fieldset[disabled] .rsjf-btn-default:hover,
fieldset[disabled] .rsjf-btn-default:focus,
fieldset[disabled] .rsjf-btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
  cursor: pointer; }
.rsjf-btn-default .badge {
  color: #fff;
  background-color: #333; }

.rsjf-btn-primary {
  color: #fff;
  background-color: #35baff;
  border-color: #35baff; }
.rsjf-btn-primary:focus, .rsjf-btn-primary.focus {
  color: #fff;
  background-color: #02a9ff;
  border-color: #0077b5; }
.rsjf-btn-primary:hover {
  color: #fff;
  background-color: #02a9ff;
  border-color: #00a2f7;
  cursor: pointer; }
.rsjf-btn-primary:active, .rsjf-btn-primary.active,
.open > .rsjf-btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #02a9ff;
  border-color: #00a2f7; }
.rsjf-btn-primary:active:hover, .rsjf-btn-primary:active:focus, .rsjf-btn-primary:active.focus, .rsjf-btn-primary.active:hover, .rsjf-btn-primary.active:focus, .rsjf-btn-primary.active.focus,
.open > .rsjf-btn-primary.dropdown-toggle:hover,
.open > .rsjf-btn-primary.dropdown-toggle:focus,
.open > .rsjf-btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #0092dd;
  border-color: #0077b5;
  cursor: pointer; }
.rsjf-btn-primary:active, .rsjf-btn-primary.active,
.open > .rsjf-btn-primary.dropdown-toggle {
  background-image: none; }
.rsjf-btn-primary.disabled:hover, .rsjf-btn-primary.disabled:focus, .rsjf-btn-primary.disabled.focus, .rsjf-btn-primary[disabled]:hover, .rsjf-btn-primary[disabled]:focus, .rsjf-btn-primary[disabled].focus,
fieldset[disabled] .rsjf-btn-primary:hover,
fieldset[disabled] .rsjf-btn-primary:focus,
fieldset[disabled] .rsjf-btn-primary.focus {
  background-color: #35baff;
  border-color: #35baff;
  cursor: pointer; }
.rsjf-btn-primary .badge {
  color: #35baff;
  background-color: #fff; }

.rsjf-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
.rsjf-btn-success:focus, .rsjf-btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625; }
.rsjf-btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  cursor: pointer; }
.rsjf-btn-success:active, .rsjf-btn-success.active,
.open > .rsjf-btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }
.rsjf-btn-success:active:hover, .rsjf-btn-success:active:focus, .rsjf-btn-success:active.focus, .rsjf-btn-success.active:hover, .rsjf-btn-success.active:focus, .rsjf-btn-success.active.focus,
.open > .rsjf-btn-success.dropdown-toggle:hover,
.open > .rsjf-btn-success.dropdown-toggle:focus,
.open > .rsjf-btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
  cursor: pointer; }
.rsjf-btn-success:active, .rsjf-btn-success.active,
.open > .rsjf-btn-success.dropdown-toggle {
  background-image: none; }
.rsjf-btn-success.disabled:hover, .rsjf-btn-success.disabled:focus, .rsjf-btn-success.disabled.focus, .rsjf-btn-success[disabled]:hover, .rsjf-btn-success[disabled]:focus, .rsjf-btn-success[disabled].focus,
fieldset[disabled] .rsjf-btn-success:hover,
fieldset[disabled] .rsjf-btn-success:focus,
fieldset[disabled] .rsjf-btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
  cursor: pointer; }
.rsjf-btn-success .badge {
  color: #5cb85c;
  background-color: #fff; }

.rsjf-btn-lg {
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px; }

.rsjf-btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.rsjf-btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.rsjf-btn-block {
  display: block;
  width: 100%; }

.rsjf-btn-block + .rsjf-btn-block {
  margin-top: 5px; }

input[type="submit"].rsjf-btn-block,
input[type="reset"].rsjf-btn-block,
input[type="button"].rsjf-btn-block {
  width: 100%; }


.position-absolute {
  position: absolute; }
